@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,800;1,100;1,200;1,400;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: white;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 6em;
    padding-top: 6em;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 2em;
    
}

.container .album {
    width: 100%;
}

.container .musics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

.music__details__media,
.album,
.musics,
.music__details{
    width: 100%;
}

#dr span {
    margin-right: .2em;
}

#dr {
    margin-bottom: .5em;
    margin: 2em 0 .5em 0;
    font-size: 1.5em;
}

.album__details__author-name {
    color: black;
    margin-bottom: .2em;
}

.album__details__album-name {
    color: #777;
    font-weight: 400;
    margin-bottom: .4em;
}

/* album-image container */
.album__details__image-container {
    width: 100%;
}

.album__details__image-container__image {
    width: 100%;
    border-radius: .5em;
}


footer {
    bottom: 0;
    width: 100%;
    background-color: black;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1em;
}

#soundcloud-icon svg{
    fill: white;
    width: 1.5em;
    transition: all .5s ease;
}

#instagram-icon svg {
    fill: white;
    height: 1.3em;
    transition: all .5s ease;
}

#instagram-icon:hover svg, #soundcloud-icon:hover svg{
    transform: scale(1.2);
}

@media screen and (min-width:768px) {
    * {
        margin: 0;
        padding: 0;
    }
    
    #dr {
        padding: 0;
        margin: 0;
    }

    .container {
        flex-direction: row-reverse;
        align-items: flex-start;
    }

    .container .album {
        width: 60%;
        margin: 0;
        padding: 0;
    }

    .album__details__author-name {
        padding: 0;
        margin: 0;
        font-size: 1.5em;
    }

    .album__details__image-container {
        width: 80%;
    }


    .album__details {
        position: fixed;
        height: 100vh;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        width: 35%;
        left: 3em;
        top: 0;
        padding-top: 6em;
    }
}

