* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
  }

  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100vh;
  }

  .alert-container {
    width: 90%;
    text-align: left;
    background-color: rgba(255, 0, 0, 0.3);
    top: 20px;
    display: grid;
    place-items: center;
    border-radius: 6px;
    color: red;
    font-size: 0.8em;
    transition: all 0.3s ease;
    font-weight: 800;
    padding: 10px;
  }

  .hidden {
    opacity: 0;
    transform: scale(0);
    display: none;
  }

  .main-content {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }

  .random-container {
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    border-radius: 6px;
    contain: content;
  }

  .random-container input {
    height: 40px;
    width: 100%;
    border-radius: 6px;
    border: none;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 1.2em;
    font-weight: 800;
  }

  .random-container input:focus {
    border-color: cornflowerblue;
    outline: none;
  }

  .random-container input:focus ~ label {
    color: cornflowerblue;
  }

  .min-block {
    position: relative;
    width: 80%;
  }

  .max-block {
    position: relative;
    width: 80%;
  }

  .random-container label {
    position: absolute;
    top: 0;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 0.5em;
    color: #555;
    background-color: white;
    padding: 0 4px;
  }

  .sortear-btn {
    width: 80%;
    height: 30px;
    border: none;
    border-radius: 6px 6px 0 0;
    background-color: cornflowerblue;
    color: white;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .sortear-btn:hover {
    width: 110%;
  }

  .result-container p {
    color: white;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 800;
  }

  .result-container span {
    font-size: 2em;
    font-weight: 800;
    color: white;
  }

  .result-container {
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    flex-direction: column;
    background-color: cornflowerblue;
  }

  @media screen and (min-width: 250px) {
    .random-container label {
        font-size: .7em;
    }
    
  }

  @media screen and (min-width: 400px) {
      .main-content, .alert-container {
          width: 70%;
      }
  }

  @media screen and (min-width: 600px) {
      .main-content, .alert-container {
          width: 60%;
      }
  }


  @media screen and (min-width: 800px) {
      .main-content, .alert-container {
          width: 40%;
      }
  }

  @media screen and (min-width: 1000px) {
      .main-content, .alert-container {
          width: 30%;
      }
  }