@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    display: grid;
    place-items: center;
    padding: 80px 0;
    background-color: #000;
    gap: 50px;
}

.page-title {
    color: #eee;
    text-align: center;
}

.page-title i {
    margin-right: 10px;
}

.displayNone {
    display: none !important;
}

.gallery-container {
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery__images-container,
.gallery__results {
    border-radius: 8px;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 200px));
    gap: 10px;
    padding: 10px;
    min-height: 250px;
    background-color: #111;
    position: relative;
}

.noneResults {
    color: #333;
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.image-block {
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.image-block img {
    width: 100%;
    transition: all .3s ease;
    position: absolute;
}

.image-block img:hover {
    transform: scale(1.05);
    filter: brightness(.5);
}

.gallery__search {
    max-width: 400px;
    width: 100%;
    display: flex;
    gap: 10px;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.search-block {
    width: 70%;
    position: relative;
}

.gallery__search input {
    background-color: #333;
    border: none;
    border-radius: 6px;
    padding-left: 35px;
    padding-right: 10px;
    width: 100%;
    height: 30px;
    color: #eee;
}

.gallery__search label {
    position: absolute;
    left: 10px;
    transform: translateY(-50%);
    top: 50%;
    color: #777;
}

.gallery__search button {
    padding: 0 10px;
    height: 30px;
    cursor: pointer;
    border: none;
    background-color: white;
    border-radius: 6px;
    color: black;
    font-weight: 600;
    transition: all .3s ease;
}

.gallery__search button:hover {
    opacity: .8;
}

.gallery__search button:active {
    opacity: 1;
}

#allImages {
    padding: 4px 10px;
    background-color: transparent;
    border-radius: 20px;
    color: white;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
    opacity: 1;
    position: relative;
    margin: 10px;
}

#allImages i {
    margin-right: 5px;
}

#allImages:hover {
    opacity: 1;
}

.qnt-imagens {
    color: #eee;
    line-height: 1;
    margin-bottom: 20px;
    opacity: .8;
}