
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    width: 300px;
    padding: 50px 10px;
    border-radius: 6px;
    position: relative;
    gap: 20px;
    border: 1px solid #ccc;
}


.voltar {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: .8em;
    text-decoration: none;
    color: #777;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}

.voltar:hover {
    color: #333;
}

.voltar:hover:after {
    opacity: 1;
    right: -25px;
}

.voltar:after {
    content: 'Voltar';
    position: absolute;
    right: 0px;
    opacity: 0;

    transition: all .3s ease;
}

.form-logo {
    margin-bottom: -20px;
    font-size: 1.5em;
    color: deepskyblue;
}

.entrar-top {
    color: #333;
    margin-bottom: 20px;
}

.email-block,
.password-block {
    position: relative;
    width: 100%
}

.form-content input {
    width: 100%;
    height: 40px;
    outline: none;
    padding-left: 10px;
    border: 1px solid #ccc;
    font-size: 1em;
    color: #333;
    border-radius: 6px;
}

.form-content label {
    color: #555;
    position: absolute;
    left: 30px;
    top: 20px;
    font-size: .9em;
    transform: translate(-50%, -50%);
    pointer-events: none;

    transition: all .3s ease;

}

.form-content button {
    width: 100%;
    height: 30px;
    background-color: deepskyblue;
    border: 1px solid deepskyblue;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    cursor: pointer;

    transition: all .3s ease;
}

.form-content button:hover {
    background-color: rgb(50, 204, 255);
}

.form-content input::placeholder {
    opacity: 0;
}

.form-content input:focus {
    border-color: deepskyblue;
}

.form-content input:not(:placeholder-shown)~label,
.form-content input:focus~label {
    font-size: .8em;
    top: 0;
    padding: 0 2px;
    color: #777;
    background-color: white;
}

.form-content input:focus~label {
    color: deepskyblue;
}

.visible, .not-visible{
    position: absolute;
    top: 20px;
    right: 2px;
    color: #777;
    font-size: .8em;
    cursor: pointer;
    transform: translateY(-50%);
    background-color: white;
    padding: 8px;

    transition: all .3s ease;
}

.visible:hover, .not-visible:hover {
    color: #333;
}



.forgot-pass-block a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8em;
    text-decoration: none;
    flex-direction: row;
    color: #777;
    gap: 0px;

    transition: all .3s ease;
}

.forgot-pass-block a i {
    padding-top: .3em;
    opacity: 0;
    width: 0px;
    transition: all .3s ease;
}

.forgot-pass-block a:hover {
    gap: 10px;
    color: #333;
}

.forgot-pass-block a:hover i {
    display: block;
    opacity: 1;
}

