@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,700;0,800;0,900;1,200;1,400;1,600;1,700;1,800;1,900&display=swap');

/* variables */

:root {
    --myYellow: #f3cc0a;
}


/* normalize */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
}

.final-status {
    transition: all .3s ease-in-out;
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    place-items: center;
    z-index: 2000;
    background-color: rgba(0, 0, 0, .5);
    display: none;
}

.f-container {
    position: relative;
    width: 80%;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    color: #111;
}

.f-container__image {
    height: 30px;
    margin-bottom: 5px;
}

.f-msg {
    font-weight: 800;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.f-statics {
    font-size: .8em;
    font-weight: 600;
}

.f-tentativas,
.f-tempo {
    font-size: 1em;
}

.f-tentativas span,
.f-tempo span {
    font-weight: 800;
    font-style: italic;
}

.f-btn {
    width: 100%;
    margin-top: 20px;
    border-radius: 8px;
    border: 2px solid var(--myYellow);
    padding: 4px 0;
    background-color: var(--myYellow);
    font-weight: 800;
    height: 40px;
    cursor: pointer;
    transition: all .3s ease;
    font-size: 1em;
}

.f-btn:hover {
    filter: brightness(1.1)
}

.f-btn:active {
    transform: scale(.9);
}

.title-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 20px;
}

.icon-game {
    max-width: 40px;
    max-height: 40px;
}

.page-title {
    opacity: .9;
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}


.main-content {
    margin: 0 20px;
    background-color: #111;
    border-radius: 10px;
    padding: 10px;
    pointer-events: none;
}

.cards-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, minmax(40px, 80px));
    gap: 6px;
    pointer-events: none;
}

.checkedCard {
    pointer-events: none !important;
}

.card__stamp {
    z-index: 100;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../images/block.png);
    background-size: 100% 100%;
    cursor: pointer;
    transition: all 1s ease;
    pointer-events: none;
    filter: saturate(0) contrast(.9) brightness(.5);
}

.card__stamp:hover {
    filter: contrast(1.4);
}

.card {
    position: relative;
    pointer-events: none;
    position: relative;
    transition: all .3s ease;
}

.card__image {
    pointer-events: none;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.on {
    opacity: 1;
    transition: all 1s ease;
    transform: rotateY(180deg);
}

.flip {
    transition: all 1s ease;
    transform: rotateY(180deg);
}

.status-bar {
    right: 0;
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 10px;
}

.status-bar-container {
    width: calc(100% - 40px);
    background-color: #111;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    position: relative;
}

.status__jogadas {
    color: white;
    font-size: .8em;
}

.status__jogadas span {
    color: var(--myYellow);
    font-weight: 800;
}

.status__tempo {
    font-size: 1em;
    color: var(--myYellow);
}

.playGame {
    width: 60%;
    height: 40px;
    font-weight: 800;
    background-color: var(--myYellow);
    border-radius: 20px;
    border: 2px solid var(--myYellow);
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    top: calc(50% - 20px);
    cursor: pointer;
    transition: all .3s ease;
    z-index: 200;
    line-height: 0;
    box-shadow: 0 0 50px 0 black;
}

.restartGameBtn span {
    display: none;
}

.playGame:hover {
    border-color: #fadc46;
    background-color: #fadc46;
}

.restartGameBtn {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid white;
    transition: all .3s ease;
    display: none;
}

.container {
    position: relative;
}

.restartGameBtn:hover {
    background-color: #ccc;
    border-color: #ccc;
}

.loadingIcon {
    position: absolute;
    color: white;
    font-size: 2em;
    color: var(--myYellow);
    animation: loading 2s infinite linear
}

@keyframes loading {
    to {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(-360deg);
    }
}

#nice {
    position: absolute;
    z-index: 1000;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: grid;
}

#nice i {
    display: grid;
    place-items: center;
    font-weight: bold;
    font-size: 1.2em;
    background-color: greenyellow;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    position: absolute;
}

._upup {
    animation: _upup .4s infinite alternate-reverse ease-in-out;
}

@keyframes _upup {
    from {
        margin-top: 5px;
        transform: translate(-50%, -50%);
    }
    to {
        margin-top: -5px;
        transform: translate(-50%, -50%);
    }
}

@media screen and (min-width:800px) {
    .cards-container {
        grid-template-columns: repeat(5, minmax(40px, 80px));
    }
    .playGame span,
    .restartGameBtn span {
        display: inline;
    }
}

@media screen and (min-width:600px) {
    .playGame span,
    .restartGameBtn span {
        display: inline;
    }
    .status-bar-container {
        padding: 10px 20px;
    }
    #nice i {
        width: 35px;
        height: 35px;
        font-size: 2em;
    }
}